<!--CONTAINER-->
<main class="container-fluid">
    <div class="row">

        <!--Menu superior somente no mobile-->
        <div class="_menu-mobile col-12 d-flex d-lg-none">
            <img class="_logo-mobile" src="img/logo.png" alt="logo">

            <img onclick="abrirMenuMobile()" class="_toggler" src="img/bars.png">
        </div>


        <div id="menu-btns-mobile">         
                <!--btns menu MOBILE (replicar o btn e incrementar o número dele no ID e ONCLICK)-->
                <button id="btn-mobile1" onclick="trocarAba('1'), abrirMenuMobile()" class="_btn-menu-mobile active-btn">Informações</button>
                <button id="btn-mobile2" onclick="trocarAba('2'), abrirMenuMobile()" class="_btn-menu-mobile">Serviços</button>
                <button id="btn-mobile3" onclick="trocarAba('3'), abrirMenuMobile()" class="_btn-menu-mobile">Galeria</button>
                <!--btns menu-->

                <h6>ADMINISTRADOR</h6>
                <h4>WESLEI CASALI</h4>


                <a href="">SAIR</a>
        </div>
        <!--Menu superior somente no mobile-->


         
        <!--Menu latera apenas desktop-->
        <div class="_menu-desktop d-none d-lg-flex col-lg-2">
            <img src="img/logo.png" alt="logo">
             
            <!--btns menu (replicar o btn e incrementar o número dele no ID e ONCLICK)-->
            <button id="btn1" onclick="trocarAba('1')" class="_btn-menu active-btn">Informações</button>
            <button id="btn2" onclick="trocarAba('2')" class="_btn-menu">Serviços</button>
            <button id="btn3" onclick="trocarAba('3')" class="_btn-menu">Galeria</button>
            <!--btns menu-->

            <h6>ADMINISTRADOR</h6>
            <h4>WESLEI CASALI</h4>


            <a href="">SAIR</a>
        </div>
        <!--Menu latera apenas desktop-->


        
        <!--conteúdo principal-->
        <div class="_conteudo-principal col-12 col-lg-10">

            <div id="conteudo1" class="_conteudo">
                <h2 class="text-secondary mb-5">Informações</h2>        


                <div class="shadow-lg p-3">

                    <form action="/salvarInfosAdm" method="post">

                        <div class="text-secondary mb-4">
                             <h5 class="fw-bold mb-2">REDES SOCIAIS</h5>
                             <div class="row">
                                <div class="col-6">
                                    <label class="w-100">Instagram <br> <input type="text" name="instagram" required value="" class="form-control"></label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100">Facebook <br> <input type="text" name="facebook" required value="" class="form-control"></label>
                                </div>
                             </div>
                        </div>

                        <div class="text-secondary mb-4">
                            <h5 class="fw-bold mb-2">CONTATO</h5>
                            <div class="row">
                                <div class="col-6">
                                    <label class="w-100">Whatsapp <br> <input type="tel" inputmode="tel" name="whatsapp" required value="" class="form-control"></label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100">Email <br> <input type="text" name="email" required value="" class="form-control"></label>
                                </div>
                             </div>
                        </div>

                        <div class="text-secondary mb-4">
                            <h5 class="fw-bold mb-2">SOBRE</h5>
                            <div class="row">
                                <div class="col-12">
                                    <label>Quem somos</label>
                                    <textarea class="form-control" name="txt_sobre_nos" required rows="3" value="oi"></textarea>
                                </div>
                             </div>
                             <div class="row mt-2">
                                 <div class="col-12">
                                     <button type="button" class="btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#modalAddImgSobreNos">Adicionar imagem +</button>
                                 </div>
                             </div>
                        </div>

                        <div class="mt-5 d-flex justify-content-start align-items-center">
                            <button type="submit" class="btn btn-primary">SALVAR</button>
                        </div>

                    </form>

                </div>           
            </div>



            <div id="conteudo2" class="_conteudo d-none">
                <h2 class="text-secondary mb-5">Serviços</h2>
            </div>



            <div id="conteudo3" class="_conteudo d-none">
                <h2 class="text-secondary mb-5">Galeria</h2>
            </div>

        </div>
        <!--conteúdo principal-->

    </div>
</main>
<!--CONTAINER-->











<!--*************************MODAIS*******************************-->

<!-- Modal add img sobre nos -->
<div class="modal fade" id="modalAddImgSobreNos" tabindex="-1" aria-labelledby="modalAddImgSobreNos" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar imagem</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>



      <form action="/addImgSobreNos" method="POST" enctype="multipart/form-data">
          <div class="modal-body">
             <input oninput="checkEntradaImg()" type="file" name="file">
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" disabled id="btn-submit-add-img-sobre-nos">Save changes</button>
          </div>
      </form>



    </div>
  </div>
</div>
<!-- Modal add img sobre nos -->

<!--*************************MODAIS*******************************-->