<!--NAV MOBILE-->
<div id="nav-mobile">
        <div id="links-nav-mobile">
            <a onclick="abrirMenu()" href="#">SOBRE</a>
            <a onclick="abrirMenu()" href="#" class="division-links">SERVIÇOS</a>
            <a onclick="abrirMenu()" href="#">CONTATO</a>
        </div>

        <div id="icons-nav-mobile">
            <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
            <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
            <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
        </div>
</div>
<!--NAV MOBILE-->



<!--BANNER INICIAL-->
<section id="banner-home">
     <div id="filtro-banner">

        <div id="container-topo">

            <div id="icones-sociais">
                 <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
                 <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
                 <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
            </div>

            <header>
                <img src="../img/logo.png" alt="Logo Funilaria Ribeiro">
            
                <nav>
                    <a href="#">SOBRE</a>
                    <a href="#" class="division-links">SERVIÇOS</a>
                    <a href="#">CONTATO</a>
                </nav>

                <button onclick="abrirMenu()"><img src="../img/bars.png" class="bars-toggler"> <img src="../img/close.png" class="close-toggler"></button>
            </header>

        </div>


        <div id="carousel-home">
              <div id="controllers-carousel">
                  <img onclick="trocarCarousel('prev')" class="_prev" src="../img/back.png">
                  <img onclick="trocarCarousel('next')" class="_next" src="../img/back.png">
              </div>

              <div class="_content1-carousel">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3>Soluções para sua residência</h3>

                  <div class="_division-carousel"></div>

                  <p>Instalação, manutenção e reparo de calhas e algerosas para sua residência. Solicite um orçamento.</p>

                  <button><img src="img/wpp.png"> WHATSAPP</button>
              </div>

              <div class="_content2-carousel d-none">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3 class="text-center">Mais de 20 anos de excelência no mercado</h3>

                  <div class="_division-carousel"></div>

                  <p>Oferecemos soluções eficazes para residências e construções, incluindo instalação, manutenção e reparo de calhas, algerozes e colarinhos.</p>

                  <button><img src="img/info.png"> SAIBA MAIS</button>
              </div>
        </div>

        <img id="arrow-down" src="img/arrow-down.png">

     </div>
</section>
<!--BANNER INICIAL-->




<!--SOBRE NÓS-->
<section id="sobre-nos">

      <h1 class="_title-sobre-nos">SOBRE NÓS</h1>

      <div class="container">
           <div class="row">
                <div class="order-2 order-lg-1 col-12 col-lg-6 d-flex justify-content-center align-items-center">
                    <img class="_img-git-sobre-nos" src="img/gif1.gif">
                </div>

                <div class="order-1 order-lg-2 col-12 col-lg-6 _container-txt-sobre-nos">
                     <h1>FUNILARIA RIBEIRO</h1>

                     <p>A Funilaria Ribeiro é uma empresa especializada na colocação de calhas e algerosas, com mais de 20 anos de experiência no mercado. Com técnicas aperfeiçoadas e profissionais qualificados, a empresa oferece serviços de alta qualidade e segurança, visando sempre o melhor resultado para seus clientes.</p>

                     <button>SAIBA MAIS</button>
                </div>
           </div>
      </div>
</section>
<!--SOBRE NÓS-->




<!--SERVIÇOS-->
<section id="servicos">

    <h1 class="_nossos-servicos">NOSSOS SERVIÇOS</h1>

    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-4 px-3 text-center mb-4">
                <div class="_container-exibir-servicos">
                     <div><img src="img/fundo.jpeg"></div>

                     <h3>CALHAS</h3>

                     <p>Interna e Externa</p>

                     <button>ORÇAMENTO</button>
                </div>
            </div>


            <div class="col-12 col-lg-4 px-3 text-center mb-4">
                <div class="_container-exibir-servicos">
                     <div><img src="img/img2.png"></div>

                     <h3>COLARINHOS</h3>

                     <p>Churrasqueiras e Chaminés</p>

                     <button>ORÇAMENTO</button>
                </div>
            </div>


            <div class="col-12 col-lg-4 px-3 text-center mb-4">
                <div class="_container-exibir-servicos">
                     <div><img src="img/alge.png"></div>

                     <h3>ALGEROSA</h3>

                     <p>Capeamento ou Embutida</p>

                     <button>ORÇAMENTO</button>
                </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!--SERVIÇOS-->





<!--MAPA-->
<section id="mapa">
      <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d878.7553551105552!2d-52.44053633047739!3d-28.237029516981885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMjjCsDE0JzEzLjMiUyA1MsKwMjYnMjMuNiJX!5e0!3m2!1spt-BR!2sbr!4v1681178539108!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
<!--MAPA-->




<!--GALERIA-->
<section id="galeria">
    <h1 class="_galeria-title">GALERIA</h1>

    <div class="container mb-5">
        <div class="row _container-all-imgs">
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/gif1.gif"></div>
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/flex-img5.gif"></div>
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/flex-img6.gif"></div>
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/flex-img1.jpeg"></div>
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/flex-img3.jpeg"></div>
            <div class="col-12 col-lg-4 p-2 mb-3 _container-galeria-fotos"><img src="img/img2.png"></div>
        </div>
    </div>

    <button><img src="img/wpp.png"> ORÇAMENTOS</button>
</section>
<!--GALERIA-->




<!--FUNCRIONAMENTO-->
<section id="funcionamento">

</section>
<!--FUNCRIONAMENTO-->






<!--INSTAGRAM-->
<section id="instagram">

     <h1 class="_title-instagram">CONHEÇA NOSSO INSTAGRAM</h1>

     <iframe class="d-none d-lg-block" src="https://snapwidget.com/embed/1030395" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:765px; height:510px; margin-bottom:25px;"></iframe>
     <iframe class="d-block d-lg-none" src="https://snapwidget.com/embed/1030393" class="snapwidget-widget" allowtransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;  width:315px; height:315px; margin-bottom:25px;"></iframe>

     <button>@FUNILARIA_RIBEIRO2022 <img src="img/insta.png"></button>

</section>
<!--INSTAGRAM-->





<!--FORMULARIO-->
<section id="formulario">
    
    <h1 class="_title-formulario">CONTATO</h1>

    <form action="">
        <input type="text" placeholder="NOME*" required name="nome">
        <input type="email" placeholder="EMAIL*" required name="email">
        <input id="tel-form" type="tel" placeholder="WHATSAPP*" required name="whatsapp" maxlength="15" inputmode="tel">
        <textarea name="mensagem" rows="5" required placeholder="MENSAGEM*"></textarea>

        <button type="submit"><img src="img/enviar.png"> ENVIAR</button>
    </form>

</section>
<!--FORMULARIO-->





<!--FOOTER-->
<footer>
    <span>Criado por</span> <a href="https://freeladev.online" target="_blank">Freeladev</a> / <span>Todos os direitos reservados ©Funilaria Ribeiro.</span>
</footer>
<!--FOOTER-->