<!--NAV MOBILE-->
<div id="nav-mobile">
        <div id="links-nav-mobile">
            <a onclick="abrirMenu()" href="#">SOBRE</a>
            <a onclick="abrirMenu()" href="#" class="division-links">SERVIÇOS</a>
            <a onclick="abrirMenu()" href="#">CONTATO</a>
        </div>

        <div id="icons-nav-mobile">
            <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
            <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
            <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
        </div>
</div>
<!--NAV MOBILE-->



<!--BANNER INICIAL-->
<section id="banner-home">
     <div id="filtro-banner">

        <div id="container-topo">

            <div id="icones-sociais">
                 <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
                 <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
                 <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
            </div>

            <header>
                <img src="../img/logo.png" alt="Logo Funilaria Ribeiro">
            
                <nav>
                    <a href="#">SOBRE</a>
                    <a href="#" class="division-links">SERVIÇOS</a>
                    <a href="#">CONTATO</a>
                </nav>

                <button onclick="abrirMenu()"><img src="../img/bars.png" class="bars-toggler"> <img src="../img/close.png" class="close-toggler"></button>
            </header>

        </div>


        <div id="carousel-home">
              <div id="controllers-carousel">
                  <img onclick="trocarCarousel('prev')" class="_prev" src="../img/back.png">
                  <img onclick="trocarCarousel('next')" class="_next" src="../img/back.png">
              </div>

              <div class="_content1-carousel">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3>Soluções para sua residência</h3>

                  <div class="_division-carousel"></div>

                  <p>Instalação, manutenção e reparo de calhas e algerosas para sua residência. Solicite um orçamento.</p>

                  <button><img src="img/wpp.png"> WHATSAPP</button>
              </div>

              <div class="_content2-carousel">
                  <h1>FUNILARIA RIBEIRO</h1>

                  <h3 class="text-center">Mais de 20 anos de excelência no mercado</h3>

                  <div class="_division-carousel"></div>

                  <p>Oferecemos soluções eficazes para residências e construções, incluindo instalação, manutenção e reparo de calhas, algerozes e colarinhos.</p>

                  <button><img src="img/info.png"> SAIBA MAIS</button>
              </div>
        </div>

        <img id="arrow-down" src="img/arrow-down.png">

     </div>
</section>
<!--BANNER INICIAL-->