<!--NAV MOBILE-->
<div id="nav-mobile">
        <div id="links-nav-mobile">
            <a onclick="abrirMenu()" href="#">SOBRE</a>
            <a onclick="abrirMenu()" href="#" class="division-links">SERVIÇOS</a>
            <a onclick="abrirMenu()" href="#">CONTATO</a>
        </div>

        <div id="icons-nav-mobile">
            <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
            <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
            <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
        </div>
</div>
<!--NAV MOBILE-->



<!--BANNER INICIAL-->
<section id="banner-home">
     <div id="filtro-banner">

        <div id="container-topo">
            <div id="icones-sociais">
                 <a href="#" target="_blank"><img src="../img/face.png" alt="icon facebook"></a>
                 <a href="#" target="_blank"><img src="../img/insta.png" alt="icon instagram"></a>
                 <a href="#" target="_blank"><img src="../img/wpp.png" alt="icon whatsapp"></a>
            </div>

            <header>
                <img src="../img/logo.png" alt="Logo Funilaria Ribeiro">
            
                <nav>
                    <a href="#">SOBRE</a>
                    <a href="#" class="division-links">SERVIÇOS</a>
                    <a href="#">CONTATO</a>
                </nav>

                <button onclick="abrirMenu()"><img src="../img/bars.png" class="bars-toggler"> <img src="../img/close.png" class="close-toggler"></button>
            </header>
        </div>

        <div id="carousel-home"></div>

     </div>
</section>
<!--BANNER INICIAL-->