@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif !important;
}

body{
    overflow-x: hidden;
}





/*NAV MOBILE*/
#nav-mobile{
    position: fixed;
    z-index: 10;
    right: 0;
    width: 0%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 400ms;
}

#links-nav-mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

#links-nav-mobile a{
    text-decoration: none;
    color:  rgba(255, 255, 255, 0.671);
    margin-bottom: 15px;
    font-size: 30px;
}

#icons-nav-mobile a img{
    width: 35px;
    margin: 0px 2px;
}
/*NAV MOBILE*/






/*BANNER INICIAL*/
#banner-home{
    background-image: url('../img/banner-inicial.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#filtro-banner{
    background-color: rgba(0, 0, 0, 0.377);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container-topo{
    position: absolute;
    top: 0;
    width: 100%;
}

#icones-sociais{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
}

#icones-sociais a img{
    width: 30px;
    margin: 0px 7px;
}


#banner-home header{
    background-color: rgba(255, 255, 255, 0.671);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#banner-home header img{
    width: 150px;
}

#banner-home header nav a{
    text-decoration: none;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.733);
    transition: all 400ms;
}

#banner-home header nav a:hover{
    color: rgba(0, 0, 0, 0.493);
}

#banner-home header nav .division-links{
    border-left: 1px solid rgba(0, 0, 0, 0.568);
    border-right: 1px solid rgba(0, 0, 0, 0.568);
}

#banner-home header button{
    display: none;
}

@media(max-width:992px){
    #banner-home header{
        justify-content: space-between;
        padding: 10px 30px;
    }

    #icones-sociais a img{
        width: 25px;
        margin: 0px 5px;
    }

    #banner-home header img{
        width: 100px;
    }

    #banner-home header nav{
        display: none;
    }

    #banner-home header button{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 100000 !important;
    }

    #banner-home header button img{
        width: 35px;
    }

    .close-toggler{
        display: none;
    }
}





#carousel-home{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    position: relative;
}

#controllers-carousel ._prev{
    position: absolute;
    left: 0;
    top: 45%;
    width: 50px;
    cursor: pointer;
}

#controllers-carousel ._next{
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    top: 45%;
    width: 50px;
    cursor: pointer;
}

#arrow-down{
    position: absolute;
    bottom: 20px;
    width: 45px;
    cursor: pointer;
    animation: animaArrowDown 1.5s infinite;
}

@keyframes animaArrowDown {
    from{transform: translateY(0px);}
    to{transform: translateY(3px);}
}




._content1-carousel{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: all 500ms;
}

._content1-carousel h1{
    font-weight: 600;
    font-size: 60px;
}

._content1-carousel h3{
    font-weight: 400;
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 20px;
}

._content1-carousel ._division-carousel{
    height: 5px;
    width: 55%;
    background-color: white;
    margin-bottom: 70px;
}

._content1-carousel p{
    font-size: 32px;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}

._content1-carousel button{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 50px;
    color: white;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    transition: all 1s;
}

._content1-carousel button img{
    width: 35px;
}

._content1-carousel button:hover{
    background-color: rgba(255, 255, 255, 0.24);

}





._content2-carousel{
    width: 70%;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    transition: all 500ms;
}

._content2-carousel h1{
    font-weight: 600;
    font-size: 60px;
}

._content2-carousel h3{
    font-weight: 400;
    font-size: 50px;
    margin-top: -15px;
    margin-bottom: 20px;
}

._content2-carousel ._division-carousel{
    height: 5px;
    width: 55%;
    background-color: white;
    margin-bottom: 70px;
}

._content2-carousel p{
    font-size: 32px;
    text-align: center;
    width: 70%;
    margin-bottom: 30px;
}

._content2-carousel button{
    background-color: transparent;
    border: 2px solid white;
    padding: 15px 50px;
    color: white;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border-radius: 5px;
    transition: all 1s;
}

._content2-carousel button img{
    width: 35px;
}

._content2-carousel button:hover{
    background-color: rgba(255, 255, 255, 0.24);

}


@media(max-width:1500px){
    #carousel-home{
        margin-top: 100px;
        width: 70%;
    }
    
    #controllers-carousel ._prev{
        width: 30px;
    }

    #controllers-carousel ._next{
        width: 30px;
    }
    
    #arrow-down{
        bottom: 15px;
        width: 30px;
    }

    ._content1-carousel{
        width: 80%;
    }
    
    ._content1-carousel h1{
        font-size: 45px;
    }
    
    ._content1-carousel h3{
        font-size: 35px;
        margin-top: -5px;
    }
    
    ._content1-carousel ._division-carousel{
        height: 3px;
        width: 45%;
        background-color: white;
        margin-bottom: 50px;
    }
    
    ._content1-carousel p{
        font-size: 22px;
        text-align: center;
        width: 70%;
        margin-bottom: 15px;
    }
    
    ._content1-carousel button{
        padding: 7px 35px;
        font-size: 18px;
    }
    
    ._content1-carousel button img{
        width: 25px;
    }
    
    ._content1-carousel button:hover{
        background-color: rgba(255, 255, 255, 0.24);
    
    }





    ._content2-carousel{
        width: 80%;
    }
    
    ._content2-carousel h1{
        font-size: 45px;
    }
    
    ._content2-carousel h3{
        font-size: 35px;
        margin-top: -5px;
    }
    
    ._content2-carousel ._division-carousel{
        height: 3px;
        width: 45%;
        background-color: white;
        margin-bottom: 50px;
    }
    
    ._content2-carousel p{
        font-size: 22px;
        text-align: center;
        width: 70%;
        margin-bottom: 15px;
    }
    
    ._content2-carousel button{
        padding: 7px 35px;
        font-size: 18px;
    }
    
    ._content2-carousel button img{
        width: 25px;
    }
    
    ._content2-carousel button:hover{
        background-color: rgba(255, 255, 255, 0.24);
    
    }
}






@media(max-width:992px){
    #carousel-home{
        margin-top: 60px;
        width: 95%;
    }
    
    #controllers-carousel ._prev{
        width: 30px;
    }

    #controllers-carousel ._next{
        width: 30px;
    }
    
    #arrow-down{
        bottom: 15px;
        width: 30px;
    }


    ._content1-carousel{
        width: 85%;
    }
    
    ._content1-carousel h1{
        font-size: 25px;
        text-align: center;
    }
    
    ._content1-carousel h3{
        font-size: 20px;
        margin-top: -5px;
    }
    
    ._content1-carousel ._division-carousel{
        height: 3px;
        width: 80%;
        background-color: white;
        margin-bottom: 50px;
    }
    
    ._content1-carousel p{
        font-size: 16px;
        text-align: center;
        width: 85%;
        margin-bottom: 15px;
    }
    
    ._content1-carousel button{
        padding: 5px 30px;
        font-size: 15px;
    }
    
    ._content1-carousel button img{
        width: 20px;
    }
    
    ._content1-carousel button:hover{
        background-color: rgba(255, 255, 255, 0.24);
    
    }





    ._content2-carousel{
        width: 85%;
    }
    
    ._content2-carousel h1{
        font-size: 25px;
        text-align: center;
    }
    
    ._content2-carousel h3{
        font-size: 20px;
        margin-top: -5px;
    }
    
    ._content2-carousel ._division-carousel{
        height: 3px;
        width: 80%;
        background-color: white;
        margin-bottom: 50px;
    }
    
    ._content2-carousel p{
        font-size: 16px;
        text-align: center;
        width: 85%;
        margin-bottom: 15px;
    }
    
    ._content1-carousel button{
        padding: 5px 30px;
        font-size: 15px;
    }
    
    ._content1-carousel button img{
        width: 20px;
    }
    
    ._content2-carousel button:hover{
        background-color: rgba(255, 255, 255, 0.24);
    
    }
}
/*BANNER INICIAL*/